{% extends 'base_new.html' %}
{% load static %}
    {% block content %}

  <section id="portfolio-details" class="portfolio-details">
        <div class="container">

          <h1>Контакты</h1>

          <div class="row gy-4">

            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                  <div class="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1993.5381109980044!2d30.250855071314444!3d60.022732237524075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696344a45c7868d%3A0x9382e7a5e87bb6d7!2z0JrQvtGA0L7Qu9GR0LLQsCwgNDcsINCi0KHQlg!5e0!3m2!1sru!2sru!4v1695060128791!5m2!1sru!2sru" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>

                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>PLAZA CAR</h3>
                <ul>
                  <li><strong>Адрес </strong>:Ул.Королева д.№47  </li>
                  <li><strong>Телефон </strong>:+79667562636 </li>
                  <li><strong>Почта </strong>:Plaza_car@gmail.com </li>
                    <li> <strong>Сайт :</strong><a href="http://127.0.0.1:8000/">Наш сайт</a></li>


                </ul>
              </div>
              <div class="portfolio-description">
{#                <h2>This is an example of portfolio detail</h2>#}
                <p>
                </p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->




{% endblock %}