{% extends 'base_new.html' %}
{% load static %}
    {% block content %}

  <section id="portfolio-details" class="portfolio-details">
        <div class="container">

          <h1>Contacts</h1>

          <div class="row gy-4">

            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                  <div class="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7984.398791379763!2d30.20745197846072!3d59.98025645039194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469636a15f447869%3A0x4b7e969de8ee306e!2z0J_RgNC40LzQvtGA0YHQutC40Lkg0L_RgC4sIDcyLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk3Mzc0!5e0!3m2!1sru!2sru!4v1695105219851!5m2!1sru!2sru" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
                  </div>

                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>PLAZA CAR</h3>
                <ul>
                  <li><strong>Address </strong>:Primorsky pr., 72  </li>
                  <li><strong>Phone </strong>:+79667566636 </li>
                  <li><strong>Mail </strong>:Plaza_car@gmail.com </li>
                    <li> <strong>Site :</strong><a href="http://127.0.0.1:8000/">Our site</a></li>


                </ul>
              </div>
              <div class="portfolio-description">
{#                <h2>This is an example of portfolio detail</h2>#}
                <p>
                </p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->




{% endblock %}