    {% extends 'base_new.html' %}
{% load static %}
    {% block content %}
<!-- Page content -->







<!-- ======= Portfolio Details Section ======= -->
    {% load thumbnail %}
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                {% if car.photo %}
                  <div class="swiper-slide">
                    <a href="{{car.photo.url}}"><img src="{% thumbnail car.photo 1320x880 crop %}" alt=""></a>
                  </div>
                {% else %}
                    {% endif %}

                {% if car.photo_2 %}
                    <div class="swiper-slide">
                    <a href="{{car.photo_2.url}}"><img src="{% thumbnail car.photo_2 1320x880 crop %}" alt=""></a>
                    </div>
                {% else %}
                    {% endif %}

                {% if car.photo_3 %}
                      <div class="swiper-slide">
                    <a href="{{car.photo_3.url}}"><img src="{% thumbnail car.photo_3 1320x880 crop %}" alt=""></a>
                  </div>
                {% else %}
                    {% endif %}

                {% if car.photo_4 %}
                      <div class="swiper-slide">
                    <a href="{{car.photo_4.url}}"><img src="{% thumbnail car.photo_4 1320x880 crop %}" alt="" ></a>
                  </div>
                {% else %}
                    {% endif %}

                </div>
                <div class="swiper-pagination"></div>
                  <h4>Application form</h4>
               <form action="" method="POST">
        {% csrf_token %}
        <input class="form-control" name="email" placeholder="Email" type="email" required   >
        <input class="form-control" name="comment" placeholder="Comment" type="text" required>
        <input class="form-control" name="name" placeholder="Your name" type="text" required><br>
        <button class="btn btn-outline-success" type="submit"> send </button>
    </form>

              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>{{ car.brand }}</h3>
                <ul>
                  <li><strong>Model </strong>: {{ car.model }}</li>
                  <li><strong>Generation </strong>: {{ car.generation }}</li>
                  <li><strong>Country </strong>: {{ car.manufacture }}</li>
                  <li><strong>Body </strong>: {{ car.body }}</li>
                  <li><strong>Transmission </strong>: {{ car.transmission }}</li>
                  <li><strong>Price </strong>: {{ car.price }}</li>

                    <br>
                  <li><strong>Info </strong>: {{ car.info }}</li>


                    <li><strong>Manager </strong>: {{ car.manager.name }}, {{ car.manager.phone }}</li>

                </ul>
              </div>
              <div class="portfolio-description">
{#                <h2>This is an example of portfolio detail</h2>#}
                <p>
                  {{ info.info }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->


    <!-- Form Zayavka -->

    <!-- EndForm Zayavka -->



<br>
<br>
<br>
<!-- Подключаем SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Проверяем, есть ли сообщение об успешной отправке формы
    var successMessage = "{{ success_message|default:'' }}";

    if (successMessage) {
        Swal.fire({
            title: 'Успех!',
            text: successMessage,
            icon: 'success',
            confirmButtonText: 'OK'
        });
    }
});
</script>
{% endblock %}