{% extends 'base.html' %}
{% block content %}
<body>
<div class="col-md-4">
        <div class="card">
          <img src="{{ car.photo.url }}" class="card-img-top" alt="Товар 1">
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }}</h5>
            <h5 class="card-title">{{ car.model }}</h5>
            <p class="card-text">{{ car.generation }}</p>
            <p class="card-text">{{ car.info}}</p>
          </div>
        </div>

    {% if car.photo_2 %}
              <div class="card">
          <img src="{{car.photo_2.url }}" class="card-img-top" alt="Товар 1">
              </div>
    {% else %}
    {% endif %}

     {% if car.photo_3 %}
            <div class="card">
          <img src="{{ car.photo_3.url }}" class="card-img-top" alt="Товар 1">
     {% else %}
    {% endif %}

     {% if car.photo_4 %}
                <div class="card">
          <img src="{{ car.photo_4.url }}" class="card-img-top" alt="Товар 1">
     {% else %}
    {% endif %}

            </div>

        </div>

      </div>
</body>

{% endblock %}