{% extends 'base.html'  %}
{% block content %}
    <!-- Фото по ширине страницы -->

    <div class="header-image">
      <img src="https://krot.info/uploads/posts/2021-12/1639063870_2-krot-info-p-panorama-nochnogo-goroda-krasivie-foto-3.jpg" class="header-image" alt="Фото">
      <div class="header-content">
        <h1 class="header-title">Недвижимость для всех!</h1>
        <a href="#" class="header-button">Подобрать</a>
      </div>
    </div>

  <br>
  <br>

  <!-- карточки товара -->
  <div class="container">
    <div class="row">

        {% for car in cars %}
      <div class="col-md-4">
        <div class="card">
          <a href="{% url 'mainpage_car:detailpage' car.id %}"><img src="{{ car.photo.url }}" class="card-img-top" alt="Товар 1"></a>
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }}</h5>
            <h5 class="card-title">{{ car.model }}</h5>
            <p class="card-text">{{ car.generation }}</p>
            <p class="card-text">{{ car.info|truncatewords:20 }}</p>
          </div>
        </div>
      </div>
        {% endfor %}

    </div>
  </div>
  <!-- конец карточек товара -->

{% endblock %}
