{% extends 'base_new.html' %}
{% load static %}

{% block content %}


  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">


    <form action="" method="get">


<!--selector brand-->
      <select name="text" onchange="this.form.submit()">
        <option value=""> Марка авто </option>

        {% for brand in brands %}
        <option value="{{ brand }}"
          {% if brand|stringformat:"s" == request.GET.text|stringformat:"s" %} selected {% endif %}> {{ brand }}
        </option>
        {% endfor %}
      </select>

<!--selector body-->
      <select name="body_id" onchange="this.form.submit()">
        <option value=""> Тип кузова </option>

        {% for body in bodys %}
        <option value="{{ body.id }}"
         {% if request.GET.body_id|stringformat:"s" == body.id|stringformat:"s" %} selected {% endif %}> {{ body }}
        </option>
        {% endfor %}
      </select>

<!--selector transmission-->
          <select name="transmission" onchange="this.form.submit()">
        <option value=""> Тип КПП </option>

        {% for transmission in transmissions %}
        <option value="{{ transmission.id }}"
            {% if request.GET.transmission|stringformat:"s" == transmission.id|stringformat:"s" %} selected {% endif %}> {{ transmission }}
        </option>
        {% endfor %}
      </select>

<!--selector country-->
        <select name="country" onchange="this.form.submit()">
        <option value=""> Страна </option>

        {% for country in countrys %}
        <option value="{{ country.id }}"
            {% if request.GET.country|stringformat:"s" == country.id|stringformat:"s" %} selected {% endif %}> {{ country }}
        </option>
        {% endfor %}
      </select>

      <input name="min" placeholder="min" value="{{request.GET.min}}">
      <input name="max" placeholder="max" value="{{request.GET.max}}">



      <button type="submit">send
      </button>
    </form>


      <div class="row d-flex justify-content-center">
        {% for car in cars %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <a href="{% url 'mainpage_car:detailpage' car.id %}"><img src="{{ car.photo.url }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
               <h5 class="card-title">{{ car.brand }}</h5>
            <h5 class="card-title">{{ car.model }}</h5>
            <p class="card-text">{{ car.generation }}</p>
            <p class="card-text">{{ car.price }}</p>
            <p class="card-text">{{ car.info|truncatewords:20 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg-12 d-flex justify-content-center">
        </div>
      </div>
    </div>
  </section>

  <style>
    .btn-custom {
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
    }
    .btn-custom:hover,
    .btn-custom:focus {
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
    }
  </style>

{% endblock %}
