{% extends 'base_new.html' %}
{% load static %}

{% block content %}

<style>
  .form-inline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-inline .form-group {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

  .form-inline .form-group .btn-group {
    display: flex;
    align-items: center;
  }

  .form-inline .form-group .btn-group .btn {
    margin-left: 5px;
  }

  @media (min-width: 768px) {
    .form-inline .form-group {
      flex: 0 0 auto;
      margin-right: 10px;
    }

    .form-inline .form-group:last-child {
      margin-right: 0;
    }
  }
</style>

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">


    <form class="form-inline mt-2 mt-md-0" action="" method="get">



<!--selector brand-->
        <div class="form-group">
      <select class="form-control" name="text" onchange="this.form.submit()">
        <option value=""> Car brand </option>

        {% for brand in brands %}
        <option value="{{ brand }}"
          {% if brand|stringformat:"s" == request.GET.text|stringformat:"s" %} selected {% endif %}> {{ brand }}
        </option>
        {% endfor %}
      </select>
</div>

<!--selector body-->
        <div class="form-group">
      <select class="form-control" name="body_id" onchange="this.form.submit()">
        <option value=""> Body type </option>

        {% for body in bodys %}
        <option value="{{ body.id }}"
         {% if request.GET.body_id|stringformat:"s" == body.id|stringformat:"s" %} selected {% endif %}> {{ body }}
        </option>
        {% endfor %}
      </select>
        </div>

<!--selector transmission-->
        <div class="form-group">
          <select class="form-control" name="transmission" onchange="this.form.submit()">
        <option value=""> Transmission type  </option>

        {% for transmission in transmissions %}
        <option value="{{ transmission.id }}"
            {% if request.GET.transmission|stringformat:"s" == transmission.id|stringformat:"s" %} selected {% endif %}> {{ transmission }}
        </option>
        {% endfor %}
      </select>
        </div>

<!--selector country-->
        <div class="form-group">
        <select class="form-control" name="country" onchange="this.form.submit()">
        <option value=""> Country </option>

        {% for country in countrys %}
        <option value="{{ country.id }}"
            {% if request.GET.country|stringformat:"s" == country.id|stringformat:"s" %} selected {% endif %}> {{ country }}
        </option>
        {% endfor %}
      </select>
        </div>

      <div class="form-group">
      <input class="form-control" name="min" placeholder="min" value="{{request.GET.min}}">
      </div>

        <div class="form-group">
      <input class="form-control" name="max" placeholder="max" value="{{request.GET.max}}">
        </div>

        <div class="form-group">
      <button class="btn btn-outline-success" type="submit">send
      </button>
        </div>
    </form>

{% load thumbnail %}
      <div class="row d-flex justify-content-center">
        {% for car in cars %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4">
          <div class="card">
            <a href="{% url 'mainpage_car:detailpage' car.id %}"><img src="{% thumbnail car.photo 400x300 crop %}" class="card-img-top" alt="..."></a>
            <div class="card-body">
               <h5 class="card-title">{{ car.brand }}</h5>
            <h5 class="card-title">{{ car.model }}</h5>
            <p class="card-text">{{ car.generation }}</p>
            <p class="card-text">{{ car.price }}</p>
            <p class="card-text">{{ car.info|truncatewords:20 }}</p>
            </div>
          </div>
        </div>

        {% endfor %}
        <div class="col-lg-12 d-flex justify-content-center">
        </div>
      </div>
    </div>
  </section>

  <style>
    .btn-custom {
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
    }
    .btn-custom:hover,
    .btn-custom:focus {
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
    }
  </style>

{% endblock %}
